
/******************************************

fonts CSS

******************************************/



@font-face {

	font-family: 'Gudea', sans-serif;

	font-weight: normal;

	font-style: normal;

}


/******************************************

compare table

******************************************/



.table-compare td.compare-label {

	width: 150px;

	background: #fafafa;

	vertical-align: middle;

	text-transform: uppercase;

	font-weight: bold;

}

.compare-list {

	margin-bottom: 35px;

}

.table-compare .product-star .fa {

	line-height: inherit;

	color: #ff9900;

}

.table-compare .price {

	font-weight: bold;

}

.table-compare .add-cart {

	background: #ff3366;

	color: #fff;

}

.table-compare .add-cart:hover {

	opacity: 0.8;

}

.table-compare .action button.button {

	border-radius: 100%;

	padding: 0px 12px 0 10px;

	width: 35px;

	height: 35px;

	text-align: center;

	line-height: 12px;

}

/******************************************

Contact page

******************************************/

#contact {

	margin-top: 10px;

}

#contact .page-subheading {

	padding-left: 0px;

	border: none;

	margin: 14px 0 30px;

	text-transform: uppercase;

	font-size: 18px;

	color: #333;

}

#contact .contact-form-box {

	padding: 0;

	margin: 0 0 30px 0;

}

#contact .contact-form-box label {

	padding-bottom: 5px;

}

#contact .contact-form-box .form-selector {

	padding-bottom: 25px;

}

#contact input, #contact select, #contact textarea {

	border-radius: 0;

	border-color: #eaeaea;

	box-shadow: inherit;

	outline: 0 none;

}

#contact input:focus, #contact select:focus, #contact textarea:focus {

	box-shadow: inherit;

	outline: 0 none;

}

#contact #btn-send-contact {

	font-size: 14px;

	line-height: 18px;

	color: white;

	padding: 0;

	font-weight: normal;

	background: #666;

	-webkit-border-radius: 0;

	-moz-border-radius: 0;

	border-radius: 0;

	border: none;

	padding: 10px 25px;

}

#contact #btn-send-contact:hover {

	background: #F36;

}

#contact_form_map ul {

	line-height: 28px;

	list-style: disc;

	list-style-position: inside;

	font-style: italic;

}

#contact_form_map ul.store_info {

	list-style: none;

	font-style: normal;

	color: #696969;

}

#contact_form_map ul.store_info i {

	display: inline-block;

	width: 30px;

	line-height: inherit;

	font-size: 18px;

}

#message-box-conact .fa {

	line-height: inherit;

}

.content-text {

	padding: 20px 0;

	text-align: justify;

}

.content-text p {

	margin-bottom: 15px;

}

.right-sidebar #left_column {

	float: right;

}


/******************************************

404 Error Page

******************************************/





.error_pagenotfound {

	padding: 50px 30px 58px 30px;

	margin: 0 auto;

	width: 60%;

	background-color: #fff;

	border: 1px solid #eee;

	border-bottom: 5px solid #eee;

	text-align: center;

	border-radius: 100%;

	margin: 45px auto;

}

.error_pagenotfound strong {

	display: block;

	font-size: 145px;

	line-height: 100px;

	color: #999;

	font-weight: bold;

	margin-bottom: 10px;

	text-shadow: 5px 5px 1px #eaeaea;

}

.error_pagenotfound b {

	display: block;

	font-size: 40px;

	line-height: 50px;

	color: #999;

	margin: 0;

	font-weight: 300;

}

.error_pagenotfound em {

	display: block;

	font-size: 18px;

	color: #ff3366;

	margin: 15px 0;

	font-style: normal;

}

a.button-back {

	border: 2px #ff3366 solid;

	border-radius: 50px;

	text-transform: uppercase;

	font-size: 14px;

	padding: 8px 25px;

	margin-top: 15px;

	background: #ff3366;

	color: #fff;

}

a.button-back:hover {

	border: 2px #ff3366 solid;

	background: #ff3366;

}

#animate-arrow {

	position: relative;

	top: 15px;

	left: 0px;

	animation: move 1s ease infinite;

	margin-top: 150px;

	color: red;

}

 @keyframes move {

 50% {

 bottom: 10px;

 top: 0px;

}

}

@media only screen and (min-width: 300px) and (max-width: 767px) {

.error_pagenotfound {

	width: 100%;

	border-radius: 0;

	margin: 25px auto;

	padding: 15px;

}

.error_pagenotfound em {

	line-height: none;

	margin-bottom: 10px

}

}

/******************************************

about us

******************************************/



.about-page h1 {

	font-weight: bold;

}

.about-page {

	margin-top: 25px;

	display: inline-block;

	margin-bottom: 25px;

}

.about-slid {

	background: url(../images/slid3.jpg)no-repeat 0px 0px fixed;

	background-size: cover;

	text-align: center;

	padding: 80px 0 100px;

}

.about-slid h2 {

	font-size: 42px;

	color: #fff;

	font-weight: bold;

}

.about-slid p {

	color: #fff;

	font-size: 16px;

	margin: 8px auto 0;

	line-height: 22px;

	width: 78%;

}

.about-slid-info {

	width: 80%;

	margin: 0 auto;

}

.about-page ul {

	padding: 0;

}

.about-page ul li {

	display: block;

	margin: 1.2em 0 0;

}

.about-page ul li a {

	color: #333;

	font-size: 15px;

}

.about-page ul li a:hover {

	color: #ff3366;

	padding-left: 10px;

}

.about-page .fa-arrow-right {

	font-size: 12px;

}

.about-page .text_color {

	color: #ff3366;

}

@media only screen and (min-width: 300px) and (max-width: 767px) {

.about-slid-info {

	width: 100%;

}

.about-slid h2 {

	font-size: 30px;

}

.align-center-btn a.button {

	display: inline-block;

	margin-bottom: 10px;

}

}

.our-team {

	background: #fff;

	border-bottom: 1px #ddd solid;

	padding-bottom: 60px;

	display: inline-block;

	width: 100%;

}

.our-team .page-header h2 {

	color: #333;

}

.our-team .team {

	background: #f8f8f8;

	border: 1px #eee solid;

	padding: 15px;

	margin-top: 20px;

	text-align: center;

}

.team h5 {

	margin-bottom: 10px;

	font-size: 16px;

	margin-bottom: 6px;

	text-transform: uppercase;

	font-weight: bold;

}

.team p.subtitle {

	margin-bottom: 10px;

}

.avatar {

	margin-bottom: 20px;

}

.team-social {

	margin-left: 0;

	padding-left: 0;

}

.align-center-btn a.button {

	border: 2px #ff3366 solid;

	padding: 8px 25px;

	border-radius: 50px;

	font-weight: bold;

	font-size: 15px;

	margin-right: 15px;

	background: #ff3366;

	color: #fff;

}

.align-center-btn a.button.buy-temp {

	background: #ff3366;

	color: #fff;

	border: 2px #ff3366 solid;

}

.align-center-btn {

	margin-top: 25px;

}

#service {

	padding-bottom: 60px;

}

#service .page-header h2 {

	color: #333;

}

#service i {

	font-size: 50px;

	margin-bottom: 20px;

	margin-top: 20px;

}

#service h4 {

	font-size: 16px;

	font-weight: bold;

	margin-bottom: 8px;

}

.sitemap-page {

	margin-top: 25px;

	margin-bottom: 50px;

}

.simple-list {

	margin: 0;

	padding: 0;

	list-style-type: none

}

.bold-list>li>a {

	font-weight: 700;

	text-transform: uppercase

}

.simple-list ul {

	margin: 0;

	padding: 0;

	list-style-type: none;

	position: relative;

	bottom: -.8em

}

.simple-list li {

	margin: 0;

	padding: 0 0 12px

}

/******************************************

FAQ Page

******************************************/



.faq-page {

	margin-bottom: 30px;

}

.faq-page .page-title {

	margin: 20px auto;

}

.faq-page .content-box {

	padding: 32px 28px;

	margin: 0 0 20px 0;

	text-align: center;

	cursor: pointer;

}

.faq-page .content-box, .faq-page .content-box i, .faq-page .content-box p, .faq-page .content-box h3 {

	-webkit-transition: all 0.2s ease-in-out;

	-moz-transition: all 0.2s ease-in-out;

	-o-transition: all 0.2s ease-in-out;

	-ms-transition: all 0.2s ease-in-out;

	transition: all 0.2s ease-in-out;

}

.faq-page .content-box p {

	margin: 15px 0;

	color: #fff;

}

.faq-page .content-box h3 {

	line-height: 26px;

	padding-bottom: 8px;

	color: #fff;

	font-weight: 600;

}

.faq-page .content-box i {

	font-size: 80px;

	height: 80px;

	color: #fff;

	margin: 10px 0;

	display: block;

}

.faq-page .content-box.color-effect-1 {

	background: #000;

}

.faq-page .box-icon-wrap {

	text-align: center;

	margin: 0 auto;

	padding: 0px 0 20px 0;

	max-height: 120px;

}

.faq-page .box-icon i {

	display: inline-block;

	font-size: 0px;

	cursor: pointer;

	margin: 15px 0;

	width: 90px;

	height: 90px;

	border-radius: 50%;

	text-align: center;

	position: relative;

	z-index: 1;

	color: #fff;

}

.faq-page .box-icon i:after {

	pointer-events: none;

	position: absolute;

	width: 100%;

	height: 100%;

	border-radius: 50%;

	content: '';

	-webkit-box-sizing: content-box;

	-moz-box-sizing: content-box;

	box-sizing: content-box;

}

.faq-page .box-icon i:before {

	speak: none;

	font-size: 40px;

	line-height: 90px;

	font-style: normal;

	font-weight: normal;

	font-variant: normal;

	text-transform: none;

	display: block;

	-webkit-font-smoothing: antialiased;

}

.faq-page .box-icon-effect-1 .box-icon i {

	background: #ff3366;

	color: #fff;

	-webkit-transition: background 0.2s, color 0.2s;

	-moz-transition: background 0.2s, color 0.2s;

	transition: background 0.2s, color 0.2s;

}

.faq-page .box-icon-effect-1 .box-icon i:after {

	top: -7px;

	left: -7px;

	padding: 7px;

	box-shadow: 0 0 0 4px #fff;

	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;

	-webkit-transform: scale(.8);

	-moz-transition: -moz-transform 0.2s, opacity 0.2s;

	-moz-transform: scale(.8);

	-ms-transform: scale(.8);

	transition: transform 0.2s, opacity 0.2s;

	transform: scale(.8);

	opacity: 0;

}

.faq-page .content-box:hover .box-icon-effect-1a .box-icon i {

	background: rgba(255,255,255,1);

	color: #3acf87;

}

.faq-page .content-box:hover .box-icon-effect-1a .box-icon i:after {

	-webkit-transform: scale(1);

	-moz-transform: scale(1);

	-ms-transform: scale(1);

	transform: scale(1);

	opacity: 1;

}

.accordion-faq {

	text-align: left;

	position: relative

}

.accordion-faq .panel {

	border-radius: 0;

	box-shadow: none;

	-webkit-box-shadow: none

}

.accordion-faq .panel .panel-heading {

	padding: 0;

	color: #fff;

	border-radius: 0!important;

	background: #333

}

.accordion-faq .panel-heading a {

	display: block;

	position: relative;

	background: #ff3366;

	color: #fff;

	padding: 14px 50px 12px 15px;

	border-radius: 0;

	border: 1px #eee solid;

	min-height: 50px;

	font-weight: bold;

}

.accordion-faq .panel-heading a.collapsed {

	display: block;

	position: relative;

	background: #fff;

	color: #333;

	padding: 14px 50px 12px 15px;

	border-radius: 0;

	border: 1px #eee solid;

	min-height: 50px;

	font-weight: bold;

}

.accordion-faq .panel-heading a:hover {

	text-decoration: none

}

.accordion-faq .panel:last-child {

	box-shadow: none;

	border-bottom: none

}

.accordion-faq .arrow-down, .accordion-faq .arrow-up {

	position: absolute;

	display: block;

	width: 20px;

	height: 20px;

	font-size: 20px;

	top: 54%;

	margin-top: -15px;

	right: 10px;

	color: #fff;

}

.accordion-faq .arrow-down, .accordion-faq .collapsed .arrow-up {

	display: none

}

.accordion-faq .collapsed .arrow-down {

	display: block;

	color: #333;

}

.accordion-faq .panel-body {

	border-top: 0!important;

	padding: 15px;

	background: #fff;

	border: 1px #eee solid;

	border-top: none;

}

.accordion-faq.panel-group .panel+.panel {

	margin-top: 10px

}




/*NUEVOS ESTILOS GENERALES*/



.bloc-blue {

    height: 275px;

    background-color: #0f9359; /* anterior background-color: #2024AF;*/

    color: #fff;

    text-align: center;

    margin: 1px;

    padding-top: 50px;

        z-index: 3;

}



@media (min-width: 992px) and (max-width: 1920px) {



.bloc-blue {



    width: 33%;

    margin: 1px;

}



}



.txt-icon {

    font-weight: bold;

    font-size: 20px;

    margin-top: 16%;

}

.icon-dif {

    margin-left: 20px;

}

.img-client{

	height: 80px !important;

}

.mtmegamenu ul {

    float: right;

}

.logo-primary {

    margin-top: 2%;

}

.fullwidth img {

    width: 1300px;

}

.letter-green {

    color: #00b0ad;

    font-size: 1.8em;

    font-family: inherit;

    padding-top: 2%;

    padding-bottom: 2%;

    text-align: justify;

}

p.b-azul {

    color: #0005dc;

    font-family: inherit;

    text-align: justify;

    font-size: 1.2em;

}

p.b-normal {

    color: #000;

    font-family: inherit;

    text-align: justify;

    font-size: 1.2em;

}

p.b-verde {

		font-weight: bold;

    color: #00b0ad;

    font-family: inherit;

    text-align: justify;

    font-size: 1.2em;

}

.txt-ref {

    margin-top: 2%;

    margin-bottom: 2%;

}

.row.h-espacio {

    height: 50px;

}

p.b-normal-big {

    color: #000;

    font-family: inherit;

    text-align: justify;

    font-size: 1.5em;

}

.ytp-title-text {

    visibility: hidden !important;

}

.b-img {

    margin-bottom: 5%;

}

p.b-normal-txt-img {

    color: #000;

    font-family: inherit;

    text-align: justify;

    font-size: 1.2em;

    height: 160px;

}

.espacio-div {

    padding: 2%;

}

.row.section-videos {

    margin-bottom: 7%;

}

label.error{

	background-color: #BC1010;

    padding: 6px 12px;

    border-radius: 4px;

    color: #fff;

    font-weight: bold;

    float: right;

}

.b-espacio {

    margin-bottom: 2%;

}

.gris{

	background-color: #dadada;

}

.modal-content {

    width: 60%;

    text-align: center;

    padding: 26px;

    font-size: 1.5em;

    margin-left: 20%;

    margin-top: 10%;

    margin-right: 3%;

}

.modal-content h4 {

   font-size: 30px;

}

.b-naranja {

    background-color: #f7770e;

    color: #fff;

}

.b-naranja {

    background-color: #f7770e;

    color: #fff;

    position: absolute;

    margin-top: -4.05%;

    padding-top: 1.5%;

    padding-bottom: 1.5%;

    padding-left: 4%;

    padding-right: 12%;

    font-size: 35px;

}

.b-transparent {

    background-color: rgba(48, 82, 80, 0.45);

    color: #fff;

    position: absolute;

    margin-left: 24.8%;

    margin-top: -4.05%;

    padding-top: 1.5%;

    padding-bottom: 1.5%;

    padding-left: 4%;

    padding-right: 4%;

    font-size: 35px;

}

.b-verde-agua {

    background-color: #01b1a5;

    color: #fff;

    position: absolute;

    margin-top: -4.05%;

    padding-top: 1.5%;

    padding-bottom: 1.5%;

    padding-left: 4%;

    padding-right: 7.2%;

    font-size: 35px;

}

p.b-normal-left {

    color: #000;

    font-family: inherit;

    text-align: left;

    font-size: 1.2em;

}

a.b-a:hover {

    text-decoration: none;

    color: #00b0ad;

}

a.b-a {

    color: #000;

    text-decoration: none;

    transition: 0.5s all ease;

    font-family: inherit;

    text-align: left;

    font-size: 1.2em;

    line-height: 23pt;

}

.b-azul-agua {

    background-color: #191dad;

    color: #fff;

    position: absolute;

    margin-top: -4.05%;

    padding-top: 1.5%;

    padding-bottom: 1.5%;

    padding-left: 4%;

    padding-right: 7.5%;

    font-size: 35px;

}

div#lentes {

    height: 275px;

    background-color: rgba(21, 199, 183, 0.55);

    color: #fff;

    text-align: center;

    margin: 1px;

    padding-top: 50px;

    position: absolute;

    margin-top: -15%;

    z-index: 2;

    font-weight: bold;

    font-size: 20px;

    margin-left: 1%;

    width: 24.7%;

}

div#casos {

    height: 275px;

    background-color: rgba(21, 199, 183, 0.55);

    color: #fff;

    text-align: center;

    margin: 1px;

    padding-top: 50px;

    position: absolute;

    margin-top: -15%;

    z-index: 2;

    font-weight: bold;

    font-size: 20px;

    margin-left: 25.8%;

    width: 25.7%;

}

div#conozca {

    height: 275px;

    background-color: rgba(21, 199, 183, 0.55);

    color: #fff;

    text-align: center;

    margin: 1px;

    padding-top: 50px;

    position: absolute;

    margin-top: -15%;

    z-index: 2;

    font-weight: bold;

    font-size: 20px;

    margin-left: 51.6%;

    width: 25.2%;

}

@media (max-width:1950px) {

	div#conozca {

    text-align: left;

    margin-top: -12%;

    z-index: 2;

    font-weight: bold;

    font-size: 24px;

   	margin-left: 42.9%;

    width: 20.95%;

    line-height: 22pt;

	}

	div#casos {

    text-align: left;

    margin-top: -12%;

    z-index: 2;

    font-weight: bold;

    font-size: 24px;

    margin-left: 21.45%;

    width: 21.4%;

    line-height: 22pt;

	}

	div#lentes {

    text-align: left;

    margin-top: -12%;

    z-index: 2;

    font-weight: bold;

    font-size: 24px;

    margin-left: .8%;

    width: 20.6%;

    line-height: 22pt;

	}

}



@media (max-width:1700px) {

	.b-transparent {

	margin-left: 26%;

	}

}



@media (max-width:1600px) {

	.b-transparent {

	margin-left: 26.6%;

	}

}



@media (max-width:1500px) {

	div#conozca {

    margin-left: 55.1%;

    width: 27%;

	}

	div#casos {

	margin-left: 27.6%;

    width: 27.5%;

	}

	div#lentes {

	margin-left: 1%;

    width: 26.5%;

	}

	.b-naranja {

    margin-top: -4.4%;

	}

	.b-azul-agua {

	margin-top: -4.4%;

	}

	.b-verde-agua {

	margin-top: -4.4%;

	}

	.b-transparent {

	margin-top: -4.4%;

	margin-left: 28.8%;

	}

}

@media (max-width:1400px) {

	div#conozca {

    margin-left: 59.1%;

    width: 29%;

	}

	div#casos {

	margin-left: 29.6%;

    width: 29.5%;

	}

	div#lentes {

	margin-left: 1.1%;

    width: 28.4%;

	}

	.b-naranja {

    margin-top: -4.6%;

	}

	.b-azul-agua {

	margin-top: -4.6%;

	}

	.b-verde-agua {

	margin-top: -4.6%;

	}

	.b-transparent {

	margin-top: -4.6%;

	margin-left: 30.2%;

	}

}



@media (max-width:1370px) {

	div#conozca {

	margin-left: 60.4%;

    width: 29.6%;

	}

	div#casos {

	margin-left: 30.2%;

    width: 30.1%;

	}

	div#lentes {

	margin-left: 1.15%;

    width: 29%;

	}

}



@media (max-width:1300px) {

	div#conozca {

    margin-left: 63.8%;

    width: 31.2%;

	}

	div#casos {

	margin-left: 31.9%;

    width: 31.7%;

	}

	div#lentes {

	margin-left: 1.2%;

    width: 30.6%;

	}

	.b-naranja {

    margin-top: -4.7%;

	}

	.b-azul-agua {

	margin-top: -4.7%;

	}

	.b-verde-agua {

	margin-top: -4.7%;

	}

	.b-transparent {

	margin-top: -4.7%;

	margin-left: 31.8%;

	}

}



@media (max-width:1200px) {

	div#conozca {

    margin-left: 68.1%;

    width: 33.2%;

	}

	div#casos {

		margin-left: 34.1%;

    	width: 33.8%;

	}

	div#lentes {

	margin-left: 1%;

    width: 33%;

	}

}

@media (max-width:1100px) {

	div#casos {

    margin-left: 34.2%;

    width: 33.9%;

	}

	div#lentes {

	margin-left: 1%;

    width: 33%;

	}

}

@media (max-width:1000px) {

	div#conozca {

    margin-left: 68.5%;

    width: 33%;

	}

	div#casos {

	    margin-left: 34.4%;

	    width: 33.9%;

	}

	div#lentes {

	    margin-left: 1%;

	    width: 33.1%;

	}

}

img.grayscale.img-client {

    height: 75px !important;

    margin-top: 7%;

}